certifi==2018.1.18
chardet==3.0.4
cloudpickle==0.5.3
cycler==0.10.0
dask==0.17.5
decorator==4.3.0
dominate==2.3.1
h5py==2.7.1
idna==2.6
kiwisolver==1.0.1
matplotlib==2.2.2
networkx==2.1
numpy==1.14.2
opencv-python==3.4.1.15
Pillow==5.0.0
pudb==2017.1.4
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.4
PyWavelets==0.5.2
PyYAML==3.13
pyzmq==17.0.0
requests==2.21.0
scikit-image==0.14.0
scikit-learn==0.19.1
scikit-video==1.1.10
scipy==1.0.0
six==1.11.0
toolz==0.9.0
torch==0.4.0
torchfile==0.1.0
torchvision==0.2.1
tornado==5.0.1
tqdm==4.19.8
urllib3==1.24.2
urwid==2.0.1
visdom==0.1.7
